<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="glyphicon glyphicon-list-alt"></span> Welcome To Project Board!</h1>
             <p>View the current projects below!</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/projects/new">Add New Project</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% projects.forEach(function(project){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= project.image %>">
                   <div class="caption">
                       <h4><%= project.name %></h4>
                   </div>
                   <p>
                       <a href="/projects/<%= project._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
